{% extends 'base.html' %}
{% load static %}

{% block content %}
 <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/about.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>About us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area fix section-padding2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2">
                                <span>What we are doing</span>
                                <h2>24k Talented people are getting Jobs</h2>
                            </div>
                            <div class="support-caption">
                                <p class="pera-top">Candidates with strong personal skills are in high demand for a wide variety of jobs. We’ve all worked with someone who is excellent at engaging with colleagues and is always dependable. This individual has honed their personal skills. They communicate effectively with others, self-express, and self-manage..</p>
                                <p>Your personal skills shape not only your professional trajectory, but your private life as well. Overall, employers look for job candidates with strong personal skills because they positively contribute to the office culture, and are reliable in a variety of ways..</p>
                                <a href="{% url 'add_job' %}" class="btn post-btn">Post a job</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img">
                            <img src="{% static 'assets/img/service/support-img.jpg' %}" alt="">
                            <div class="support-img-cap text-center">
                                <p>Since</p>
                                <span>1994</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
        

    </main>
{% endblock content %}