{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}

	<div class="my-form container  pt-50 pb-120 "> 
        <div class="section-title pt-120 pb-120 ">
			<h2 class="font-weight-bold mt-3">Compelet Your Profile</h2>
			<hr>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form userform %}
            {% bootstrap_form profileform %}
                                           
            <button class="btn btn-primary " type="submit">Save Edite</button>
        </form>
  	</div> 

{% endblock content %}